<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking – Historial</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700;900&family=DM+Sans:wght@400;500&display=swap" rel="stylesheet">
    <script defer th:src="@{/js/app.js}"></script>
</head>
<body>
<div th:replace="~{fragments :: navbar('history')}"></div>

</body>
</html>